Deze sectie beschrijft de aanpak hoe de Asbestinventaris API payloads in lijn kunnen gebracht worden met dit implementatiemodel met behulp van JSON-LD.
Voor de specificatie van JSON-LD verwijzen we naar https://json-ld.org. 
Er is daar ook een playground waarin men JSON-LD kan ervaren met voorbeelden uit deze sectie. 

We illustreren de alignatie voor het api endpoint  "https://asbestinventaris.ovam.be/asbestinventaris/api/Asbestinventaris".

<h3>1. Een JSON-LD payload volgens het implementatiemodel</h3>
We starten vanaf een een JSON structuur dat helemaal samenvalt met de klasse Asbestinventaris zoals beschreven in het implementatiemodel.
De OSLO toolchain JSON-LD context is hier letterlijk van toepassing.
We zien in dit voorbeeld dat de taal expliciet is opgenomen in payload.
 
<h3>2. Taalkeuze wordt vastgelegd op nederlands</h3>
De taal kan ook opgenomen in de JSON-LD context. Dat vereenvoudigt de API payload. 
Ontwikkelaars kunnen nog steeds te weten komen dat de strings in het Nederlands zijn als ze de payload semantisch interpreteren.
Deze keuze voor een eentalige API payload betekent dat indien in de toekomst meertaligheid moet ondersteund worden dit een major API change is. 

<h3>3. id attribuut is exact de URI van de entiteit</h3>
In het semantische data formaat RDF heeft elke entiteit een unieke identifier, een URI. 
Dit is nodig omdat men hiermee een decentrale, gedistributeerde kennisgraaf mee wil kunnen voorstellen.
JSON is een syntax voor geneste structuren.  
Elke verwijzing naar een entiteit buiten de structuur is een externe interpretatie die buiten de JSON syntax valt.
JSON heeft dus geen nood aan om voor entiteiten een identifier op te leggen, of een universele afspraak hierover te maken.

JSON-LD is een afspraak die beiden verbindt. 
En dus voor JSON-LD is het noodzakelijk om een afspraak over de unieke URI identifier (al dan niet impliciet) op te nemen.
Deze wordt aangeduidt met de "@id" attribuut.

In het asbestinventaris implementatiemodel is er een eigenschap "id" opgenomen voor elk van de klassen.
Deze eigenschap heeft zelfs het verwachte formaat afspraak URI om ook te kunnen beschouwd worden als de identifier in RDF.
In het onderstaande voorbeeld hebben we beiden doen samenvallen en eigenschap "id" (en niet de JSON-LD "@id") behouden.
Dat is ook de reden waarom het is opgenomen in het implementatiemodel. 
 


<h3>4. API gebruikt ligt afwijkende benamingen voor eigenschappen</h3>
De OSLO modelleringsregels stellen dat de semantiek zo duidelijk mogelijk moet zijn van het label van de eigenschap en dat voor relaties tussen klassen we enkelvoud gebruiken.
Deze naamgevingsverschillen kunnen opgevangen worden door deze op te nemen in de context file.

De naamgevingsverschillen zijn een natuurlijk onderdeel van een verschil tussen een technische implementatie een semantisch data perspectief. 
Bij voorkeur worden verschillen zoals hier tot een minimum behouden en liefst is er een technische naamgevingsregel die dit verschil ondersteunt.


<h3>5. API biedt extra ondersteuning voor API interactie</h3>
Tenslotte biedt de API een implementatie ondersteuning aan die buiten de semantiek valt. 
Namelijk het is mogelijk om een rapport in verschillende formaten op te vragen.
Om gebruikers de juiste API query parameters mee te geven is er een extra indirectie in de API payload.

<p/>
Deze 4 bovenstaande aanpassingen aan de contextfile laten toe om de asbestinventaris API payload semantisch te interpreteren t.o.v. dit implementatiemodel.
Elk van de aanpassingen hebben hun motivatie in implementatie.
<p/>
Men kan de conformance van de mapping testen door onderstaande shacl shape te gebruiken voor bekomen RDF structuur van een API payload. 

