In deze section wordt beschreven in welke mate dit implementatiemodel conform is met de OSLO afspraken. 
Het is onderverdeeld in aangenomen afspraken en toekomstige afspraken.
De eerste zijn de afspraken die reeds toegepast zijn in dit implementatiemodel.
De toekomstige afspraken zijn aanpassingen die leiden tot een verbeterde interoperabiliteit en integratie in het Vlaamse Data landschap.

De assessment is gebaseerd op het <a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/conformiteitsraamwerk-voor-data-standaarden.html">OSLO conformiteitsraamwerk</a>.

<h3>Aangenomen afspraken</h3>

<h4>Graad van conformiteit: 2</h4>

<!--
Graad 1: Conformiteit met één of meer OSLO datastandaarden in het domein of de domeinen waarop de applicatie betrekking heeft.
Graad 2: Graad 1 + conformiteit met een of meerdere niet-OSLO standaarden voor de termen van het
         implementatiemodel die buiten het model vallen van de OSLO standaarden OF
         een motivatie waarom de niet-OSLO standaard niet bruikbaar is in de bepaalde context.
-->

De termen van het implementatiemodel asbestinventaris valt grotendeels buiten de reeds gestandardiseerde OSLO terminologie.
Het vormt dus nieuwe terminologie. 
Deze nieuwe terminologie is gepubliceerd volgens de OSLO methodologie op <a href="https://implementatie.data.vlaanderen.be">implementatie.data.vlaanderen.be</a>.

De volgende bestaande OSLO standaarden zijn wel herbruikt:

OSLO Gebouw: Een asbestattest heeft betrekking op een Gebouweenheid. Het implementatie model connecteerd deze met de authentieke bron Gebouwenregister.


<h4>Niveau van conformiteit: 2</h4>

<!--
Niveau 1:
   - Mapping en hergebruik van termen
Niveau 2:
   - Mapping en hergebruik van termen
   - Gebruik maken of verwijzen naar URI’s
Niveau 3:
   - Mapping en hergebruik van termen en semantiek
   - Gebruik maken of verwijzen naar URI’s
   - Data is valideerbaar
-->

De datauitwisseling gebeurt volgens de afspraken gedocumenteed in the OpenAPI specificatie van het asbestinventaris.
De payload hierin een JSON-LD structuur. De Json-LD context file mapped all json termen op termen in het implementatiemodel AsbestInventaris. 

<h3>Toekomstige afspraken</hr32>
